


body{
    background-image: url("/static/public/CodeBlur.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: "Roboto";
    font-size: 120%;
}

.header{
    font-family: "Oswald";
}

.onstate{

}

.ProgrammActivityList{
    float: right;
    background-color: white;
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-radius: 20px;
    border-color: darkgray;
    background-color: lightgray;
    margin-top: 10px;

}
.ProgrammActivityList ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding: 10px;

}

.MainContentContainer{
    position: absolute;
    left: 25%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    /*height: 100%;*/
    border-radius: 10px;

}


@media (max-width: 1000px) {
    .MainContentContainer{
        left: 10%;
        width: 80%;
    }

    .ProgrammActivityList{
        float: bottom;

    }
}

