<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>No-Hub</title>
    <link rel="stylesheet" href="/static/public/styles/style.css">
    <link rel="stylesheet" href="/static/public/styles/hover.css">  <!--class="hvr-shrink"-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--<meta http-equiv="refresh" content="2">-->
</head>
<body>

<script src="/static/public/scripts/backgroundMover.js" type="text/javascript"></script>

<div class="MainContentContainer">
    <center>
        <h1 class="header" >--Introduction--</h1>
        <p class="infoText">
            Hello and welcome, or as we say in germany "Moin Meister"!<br>
            Here will be more infomation soon, or not...
        </p>

        <br><br>
        <h1 class="header" >--Experience--</h1>

        <br><br>

        <p><u class="Uheader">Python</u></p>

        <p style="" class="infoText">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
            duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>

        <br><br><br>

        <p><u class="Uheader">Java</u></p>

        <p class="nanoHeader">Socket Programming</p>
        <p>asd</p>
        <p class="nanoHeader">2D Games</p>
        <p>awd</p>
        <p class="nanoHeader">Discord Bots (JDA)</p>
        <p>asd</p>

        <p data-toggle="collapse" data-target="#oit1" class="hvr-grow hideheader"><u>Open/Close</u></p>
        <p style="" class="infoText collapse" id="oit1">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
            duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>


        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </center>

</div>

<div class="ProgrammActivityList" style="font-size: 150%;">
    <p style="padding:0px; margin:0px; margin-top: 10px; margin-left: 10px; font-size: 200%;"><u>Projects</u></p>
    <ul>
        {{PY_ON_SERVICES}}
    </ul>
</div>


<!--
Experience:

Java:
-Socket Programming
I started programming network Appications 200
-Discord Bots
-2D Games (Card Game)


Python:
-Basic Python
-Selenium
-Flask WebServers

-(SQL)

Web:
-html
-css
-js


Microcontroller Programming:
-Arduino
-ESP32

Raspberry Pi:
-->

<script src="/static/public/scripts/textWriter.js" type="text/javascript"></script>

</body>
</html>