body{
    background-image: url("/static/public/CodeLangBlur.png");

    /*background-repeat: no-repeat;*/
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;

    font-family: "Nunito";  /*"Roboto"*/
    font-size: 120%;
}

.textlink{
color: rgb(0, 204, 255)
}

.contactButton{
    margin-left: 20px;
    font-size: 150%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
}

.contactLink{
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.hideheader:hover{

}

.answer{
    margin-left: 2%;
}

.mousepointer:hover{
    cursor: pointer;
}

.hideheader {
    font-size: 150%;
    color: darkorange;
}

.openSection{
    margin-left: 3%;
}

.infoText {
    font-size: 150%;
}

.Uheader{
    font-family: "Oswald";
    font-size: 200%;
    position: relative;
    left: 5%;
}

.header{
    font-family: "Oswald";
    font-size: 250%;
    margin: 0px;
}

.ProjectName{
    text-decoration: none;
}

.nanoHeader{
    margin-right: 90%;
}

.onstate{

}

.ProgrammActivityList{
    position: fixed;
    right: 2%;
    /*float: right;*/
    background-color: white;
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-radius: 20px;
    border-color: darkgray;
    background-color: lightgray;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 150%;
}

.ProgrammActivityList ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding: 10px;

}

.MainContentContainer{
    position: absolute;
    left: 25%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    /*height: 100%;*/
    border-radius: 10px;
    padding: 5%;

}


@media (max-width: 1200px) {
    .MainContentContainer{
        left: 10%;
        width: 80%;
    }

    .ProgrammActivityList{
        position: relative;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 50px;
        border-width: 0px;
        background-color: rgba(255, 255, 255, 0);
    }

}

