body{
    background-image: url("/static/public/CodeBlur.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: "Roboto";
    font-size: 120%;
}

.infoText {
    font-size: 150%;
}

.Uheader{
    font-family: "Oswald";
    font-size: 200%;
}

.header{
    font-family: "Oswald";
    font-size: 250%;
    margin: 0px;
}

.ProjectName{
    text-decoration: none;
}

.nanoHeader{
    margin-right: 90%;
}

.onstate{

}

.ProgrammActivityList{
    position: fixed;
    right: 2%;
    /*float: right;*/
    background-color: white;
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-radius: 20px;
    border-color: darkgray;
    background-color: lightgray;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.ProgrammActivityList ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding: 10px;

}

.MainContentContainer{
    position: absolute;
    left: 25%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    /*height: 100%;*/
    border-radius: 10px;
    padding: 5%;

}


@media (max-width: 1000px) {
    .MainContentContainer{
        left: 10%;
        width: 70%;
    }

    .ProgrammActivityList{
        float: bottom;

    }
}

